
#gameboard{display:grid;
    width:80%;
   grid-template-columns: repeat(11,1fr);
   grid-template-rows: repeat(11,50px);
           }
#flex{display:flex;
      justify-content: center;}
           
